# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
bioc_required: true
r:
  - bioc-release

# Note: 11/19/2020 travis is not installing R 4.1 which is required for bioc-dev 3.13
# not building on bioc-devel until there's a patch in travis
#  - bioc-devel

sudo: false
cache: packages
r_build_args: --no-build-vignettes --no-manual
r_check_args: --no-build-vignettes --no-manual --as-cran

before_install:
- Rscript -e '.libPaths("/home/travis/R/Library")'
#- Rscript -e 'update.packages(ask = FALSE)'

os:
  - linux
r_packages:
  - covr
after_success:
- Rscript -e 'library(covr); codecov()'
