#tabset4 {
    color: #fff;
    background: #3c8dbc;
}

div.nav-tabs-custom {
    max-height: 1200px !important;
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    border: 1px solid black;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 800px;
}

div.content-wrapper {
    min-height: 1300px !important;
    height: 100%;
}
/*
div#database-group-output {
    overflow-y:auto;
}
*/
div.tab-pane {
    max-height: 990px !important;
    margin: 5px;
}

li a:hover {
    color: #2be1f2;
}

input:focus {
    background-color: #b4b4b4;
}

div.box.box-solid:hover {
    border: 1px solid #777;
}

div.box-primary:hover {
    border: 1px solid #777;
}

button.shiny-bound-input {
    cursor: pointer;
    color: black;
}

div.box.box-solid.box-primary {
    border: none;
}

    div.box.box-solid.box-primary:hover {
        border: 1px solid #777;
    }

#tabset4 {
    background-color: #fff;
}

#figure-container {
    text-align: center;
}

a, figure {
    display: inline-block;
}

#figure-container a figure {
    padding: 5px;
    margin: 0 30px;
}

figcaption {
    margin: 10px 0 0 0;
    font-weight: bold;
}

#figure-container img {
    transition: transform 0.5s;
    z-index: 1;
}

    #figure-container img:hover {
        transform: scale(3.0);
    }

aside.main-sidebar.shiny-bound-input {
    z-index: 0;
}

p.image-description {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

table.data:hover {
    border: 1px solid black;
}
.fa{
  float:left;
}
.tab3-tooltip-hc{
  overflow-wrap: break-word;
}
#kwSearch{
  background:#3c8dbc;
  color:#f6f6f6;
  cursor:pointer;
  margin:0 3px 3px 0;
  padding:1px 3px;
}